extends layout-no-images

block content
  h1 Problamatic Chromatics
  
  .market-card.up
    .company DJIA
    .left
      .volume 17,098.65
      .change +18.88
    .percent-change.right +0.11%

  .market-card.up
    .company FTSE 100
    .left
      .volume 6,825.31
      .change +5.56
    .percent-change.right +0.08%

  .market-card.down
    .company OIL (WTI)
    .left
      .volume 95.66
      .change -0.30
    .percent-change.right -0.29%

  .market-card.up
    .company GOLD
    .left
      .volume 1,288.10
      .change +0.70
    .percent-change.right +0.05%

  .market-card.none
    .company EUR-USD
    .left
      .volume 1.3132
      .change 0.00
    .percent-change.right 0.00%

  #highchart-container
  .article
    img#test(src='/img/Ishihara_9.png')
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae dictum augue. Proin volutpat magna vel ex placerat, a pellentesque lacus tristique. Etiam eleifend accumsan interdum. Nulla venenatis a mauris at cursus. Curabitur ac sem velit. Quisque gravida eget velit dapibus tristique. Nulla rhoncus quam sed ante molestie, ut interdum dui aliquet. Aenean neque magna, volutpat fermentum sollicitudin vel, facilisis ut odio. Proin dictum a elit sit amet aliquet. Mauris diam purus, ornare quis interdum non, pellentesque at lacus.
    p Duis viverra placerat felis. Etiam semper sollicitudin pulvinar. Pellentesque metus risus, placerat vel fermentum at, sodales sit amet mi. Vivamus a felis eu orci sagittis pellentesque. Curabitur venenatis molestie nisi, eu scelerisque ligula tristique iaculis. Integer sit amet mauris massa. Donec rutrum, arcu eget suscipit gravida, mi nulla molestie leo, sed aliquet enim leo a risus. Sed purus lorem, vestibulum sed tellus eget, dictum egestas dolor. Curabitur vulputate ut magna id eleifend. Aenean tempor pretium rutrum.
    p Integer id scelerisque odio. Cras nec convallis erat. Morbi ultrices lacus ante, eu rutrum arcu vehicula et. Pellentesque congue vestibulum faucibus. Nullam ac purus sodales, aliquam ante nec, interdum metus. Quisque ultricies aliquet justo eget efficitur. Suspendisse sed iaculis odio, quis mollis felis. Aliquam feugiat porta justo, id congue nulla blandit ut. Quisque blandit mauris eget velit posuere, in congue velit auctor. Nam congue velit ut faucibus euismod. Mauris volutpat dignissim leo, id tincidunt odio condimentum et.      