doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    script(src="/js/lib/create-stylesheet.unwrapped.js")
    script(src="/js/lib/basket.full.min.js")

    script(src="/js/lib/jquery.min.js")
    script(src="/js/lib/highstock.js")
    script(src="/js/lib/exporting.js")
    script(src="/js/utils/colorblind.js")
    script(src="/js/main-no-basket.js")
    script(src="/js/application.js")
    script.
      basket.require({ url: 'css/application.css', execute: false, key: 'styles' }).then(function(responses){
        var css = responses[0];
        _stylesheet.appendStyleSheet(css, function() {});
      });


  body
    block content

    a(href="#" id="color-blind-toggle") Color Blind Mode

      